__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.git
.github
**/*.nemo
**/*.ckpt
.venv
*.egg-info
.ruff_cache
.mypy_cache
.pytest_cache
docs
wandb
.hydra
